<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>MagRush</title>
    <meta name="description" content="MG begone" />
    <link
      rel="icon"
      sizes="16x16"
      href="https://cdn.glitch.global/55faa7d2-2695-40bc-95ae-acd1ef99fd0f/favicon-16x16.png?v=1716038016502"
    />
    <link
      rel="icon"
      sizes="32x32"
      href="https://cdn.glitch.global/55faa7d2-2695-40bc-95ae-acd1ef99fd0f/favicon-32x32.png?v=1716038017129"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="https://cdn.glitch.global/55faa7d2-2695-40bc-95ae-acd1ef99fd0f/android-chrome-192x192.png?v=1716038009146"
    />
    <link
      rel="icon"
      sizes="512x512"
      href="https://cdn.glitch.global/55faa7d2-2695-40bc-95ae-acd1ef99fd0f/android-chrome-512x512.png?v=1716038013852"
    />
    <link
      rel="icon"
      href="https://cdn.glitch.global/55faa7d2-2695-40bc-95ae-acd1ef99fd0f/favicon.ico?v=1716038015836"
    />
    <script src="/index.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!--
      can we add the icon above the h1 in the centre? thx
btw the buttons move lol
-->
    <img src="https://cdn.glitch.global/55faa7d2-2695-40bc-95ae-acd1ef99fd0f/android-chrome-512x512.png?v=1716038013852" alt="logo" style="width:64px;height:64px;">
    <h1>MagRush</h1>
    <!-- keep the shortcut thing -->
    <h2>
      Also available as an
      <a class="buttonLink" href="https://routinehub.co/shortcut/16378">Apple Shortcut</a>.
    </h2>
    <div class="inputField">
      <input
        type="text"
        id="link"
        name="link"
        size="100"
        placeholder="Enter url here"
      />
    </div>
    <div id = "linkDisplay" class="linkDisplay">
      <span class="text">Link: </span>
      <a href="" id="finishedLink"></a>
      <div class="actions">
        <button id="copyLink" type="button" onclick="copyLink()">
          Copy Link
        </button>
        <button id="openNewTab" type="button" onclick="openTab()">
          Open link in new tab
        </button>
      </div>
    </div>
    <span id = "linkError" class = "linkError">Invalid link</span>

    <div class="instructions">
      <h3>Created by Razgriz and osiahmelon</h3>
      <p>Original idea by molangning</p>
    </div>
    <script>
      var input = document.getElementById("link");
      input.addEventListener("input", function (event) {
        event.preventDefault();
        submitLink();
      });
    </script>
  </body>
</html>
