@font-face {
  font-family: "JetBrains_Medium";
  src: url("https://cdn.glitch.global/55faa7d2-2695-40bc-95ae-acd1ef99fd0f/JetBrainsMono-Medium.ttf?v=1716036350601");
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: JetBrains_Medium, sans-serif;
  background-color: #242424;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* Header styles */
h1 {
  font-family: JetBrains_Medium, sans-serif;
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #cb78ff;
}

h2 {
  font-family: JetBrains_Medium, sans-serif;
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #ab38f2;
}

.buttonLink{
  font-family: JetBrains_Medium, sans-serif;
  padding: 5px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ab38f2;
  color: white;
  transition: background-color 0.3s;
}
  
/* Input field styles */
.inputField {
  margin-bottom: 15px;
  width: 100%;
  max-width: 1200px;
}

.inputField input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #cccccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.inputField input:focus {
  border-color: #ab38f2;
  outline: none;
}

/* Link display styles */
.linkDisplay {
  margin-bottom: 15px;
  font-size: 1em;
}

.linkDisplay {
  font-weight: bold;
  display: none;
}
.linkError {
  color: #ff0000;
  display: none;
}

.linkDisplay a {
  /*color: #ab38f2;*/
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
}

.linkDisplay a:hover {
  text-decoration: underline;
}

.linkDisplay .text{
  color: #cb78ff;
}

/* Button styles */
.actions {
  margin-bottom: 15px;
  m
}

.actions button {
  margin-top: 15px;
  font-family: JetBrains_Medium, sans-serif;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ab38f2;
  color: white;
  margin-right: 20px;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #6c0ba9;
}

/* Instructions section styles */
.instructions {
  max-width: 1200px;
  text-align: center;
}

.instructions h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #ab38f2;
}

.instructions p {
  font-size: 1em;
  color: #666;
}

